[submodule "BFTList"]
	path = self-stabilizing-byzantine-fault-tolerant-state-machine-replication/BFTList
	url = https://github.com/sspbft/BFTList.git
[submodule "thor"]
	path = self-stabilizing-byzantine-fault-tolerant-state-machine-replication/thor
	url = https://github.com/sspbft/thor.git
[submodule "odin"]
	path = self-stabilizing-byzantine-fault-tolerant-state-machine-replication/odin
	url = https://github.com/sspbft/odin.git
[submodule "heimdall"]
	path = self-stabilizing-byzantine-fault-tolerant-state-machine-replication/heimdall
	url = https://github.com/sspbft/heimdall.git
